@use '../variables.scss';

.accueil {
  display: flex;
  flex-direction: column;
  gap: 50px;
  @include variables.max1440-center;

  @media (max-width: 768px) {
    gap: 20px;
    padding: 0 20px;
  }
}

.card-wrapper {
  background-color: variables.$secondary-color;
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px 50px;
  padding: 50px 50px;
  box-sizing: border-box;

  @media (max-width: 768px) {
    gap: 20px 20px;
    padding: 20px 20px;
  }

  a {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: calc(100% / 3 - 40px);

    @media (max-width: 1280px) {
      width: calc(100% / 2.2);
    }

    @media (max-width: 1080px) {
      justify-content: center;
      width: 100%;
    }
  }
}
