@use '../variables.scss';

.accueil {
  display: flex;
  flex-direction: column;
  gap: 50px;
  @include variables.max1440-center;
}

.card-wrapper {
  background-color: variables.$secondary-color;
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px 50px;
  padding: 50px 50px;
  box-sizing: border-box;
}
