/*pages*/
@use './pages/home.scss';
@use './pages/about.scss';
@use './pages/error.scss';
@use './pages/logement.scss';

/*components*/
@use './components/header.scss';
@use './components/footer.scss';
@use './components/imageBanner.scss';
@use './components/card.scss';
@use './components/collapse.scss';
@use './components/slideshow.scss';

@use './variables.scss';

body {
  margin: 0;
  padding: 0;

  .root-layout {
    font-family: variables.$main-font;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    min-height: 100vh;
    align-items: center;
    gap: 50px;

    .hidden {
      display: none;
    }
  }
}
