$max-width-desktop: 1440px;

/*fonts*/
$main-font: 'Montserrat', sans-serif;

/*colors*/
$main-color: #ff6060;
$secondary-color: #f6f6f6;

/*fonts colors*/
$primary-font-color: #ff6060;
$secondary-font-color: #fff;
$tertiary-font-color: #000;

@mixin flex-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-center-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin rounded($radius: 25px) {
  border-radius: $radius;
}

@mixin max-width-center {
  width: 100%;
  max-width: $max-width-desktop;
  padding: 0 100px;
  box-sizing: border-box;
}

@mixin size-24-500 {
  font-size: 24px;
  font-weight: 500;
}
