@use '../variables.scss';

.card-content {
  width: 100%;
  height: 340px;
  @include variables.rounded(10px);
  overflow: hidden;
  position: relative;
  box-sizing: border-box;

  &::after {
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1;
  }

  @media (max-width: 768px) {
    height: 225px;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
  }
  h3 {
    font-size: 18px;
    font-weight: 700;
    position: absolute;
    left: 15px;
    bottom: 15px;
    color: #fff;
    z-index: 2;
  }
}
