@use '../variables';

.logement-slideshow {
  position: relative;
  width: 100%;
  max-width: variables.$max-width-desktop;
  height: 415px;
  overflow: hidden;
  color: variables.$secondary-font-color;
  border-radius: 25px;

  @media (max-width: 768px) {
    height: 225px;
  }

  img {
    width: 100%;
    min-width: 0;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  .index {
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    font-size: 18px;
    font-weight: 500;
    z-index: 2;

    @media (max-width: 768px) {
      font-size: 12px;
    }

    @media (max-width: 375px) {
      display: none;
    }
  }

  .nav {
    @include variables.flex-between-center;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 25px;
    width: 100%;
    height: 100%;
    pointer-events: none;
    box-sizing: border-box;

    .chevron-left,
    .chevron-right {
      @include variables.flex-center;
      width: 47px;
      height: 79px;
      font-size: 24px;
      cursor: pointer;
      z-index: 2;
      background: none;
      border: none;
      pointer-events: auto;

      @media (max-width: 768px) {
        width: 24px;
        height: 24px;
      }
    }
  }
}
